@import '../../css/normolize.css'
@import '../core/_base'
@import '../core/_mixin'

html
  box-sizing: border-box
  scroll-behavior: smooth

*, *::after, *::before
    box-sizing: inherit

h2, p
  padding: 0
  margin: 0

body
  font-family: 'Inter'
  height: 100%
  width: 100%
  letter-spacing: 2px
  font-weight: normal
  font-size: 20px
  background-color: $black_color
  color: $white_color

.header-wrapper
  width: 100%
  padding: 0 30px
  @include display(flex, row, center, space-between)
  border-bottom: 3px solid $orange_color
  @media screen and ( max-width: 670px)
    @include display(flex, column, center, center)

.fa-camera
  width: 32px
  height: 32px
  margin-right: 20px

.search-wrapper
  position: relative
  width: 300px

#input-search
  box-sizing: border-box
  width: 100%
  font-size: 1rem
  padding: 8px 12px
  border-radius: 25px
  outline: none
  transition: all 0.30s ease-in-out
  border: 1px solid $orange_color

#search-icon
  color: $orange_color
  position: absolute
  cursor: pointer
  top: 25%
  right: 4%
  transition: 1s

.images-wrapper
  @include display(flex, row, flex-start, space-evenly)
  width: 100%
  max-width: 1280px
  margin: 0 auto
  flex-wrap: wrap

.image-container
  width: 400px
  height: 230px
  margin-top: 15px
  background-position: center
  background-size: cover
  cursor: pointer